body {
 background-image: url("comodore64.png");
 margin: 0;
 padding: 0;
}
a {
 color: #2b2bf6;
}
#container {
  width: 1000px;
  margin: 0;
  padding: 0;
  background: #6d6466;
}
#header {
 width: 1000px;
 height: 150px;
 margin: 0;
 padding: 0;
 border: 0;
 background: transparent;
}
#header {
 font-family: monospace;
 font-size: 36px;
 color: #142f7a;
}
#sidebar {
 width: 150px;
 height: 850px;
 margin: 0;
 padding: 0;
 border: 0;
 float: left;
 background: transparent;
}
#content {
 width: 1000px;
 height: 850px;
 margin: 150;
 padding: 0;
 border: 0;
 float: left;
 background: transparent;
}
#content p {
 font-family: monospace;
 font-size: 14px;
 color: green;
}
#footer {
 width: 1000px;
 height: 150px;
 margin: 0;
 padding: 0;
 border: 0;
 float: left;
 background: transparent;
 clear:both;
}
